
<section class="thanks" style="font-family: Almarai;">
  <div>
  <h1>Thank you!</h1>
  <p style="line-height: 1.6;">Your message has sent and you'll receive <br> a confirmation email shortly with the receipt.</p>
    <%= link_to root_path do %>
  <div class="back-home-btn">
    Continue to home
  </div>
  <% end %>
  </div>
</section>
