

input, textarea {
  border: 1px solid black;
  padding: 12px;
  min-width: 300px;
  margin-left: 4rem;
  padding-left: 16px;
  font-size: 16px;
  font-family: "Roboto";

  &:focus {
    outline: none !important;
    border: 2px solid black;
  }
}

textarea#contact_message.text.optional {
  min-width: 600px;
  min-height: 100px;
}

form {
  margin-top: 64px;
  font-family: "Roboto";
  margin-left: 10rem;
}

div.name-flex {
  display: flex;
}


input[type=submit] {
  background: black;
  color: white;
  border-color: black;
  margin-top: 16px;
  margin-left: 4rem;
  border-radius: 2px;
  padding: 16px 24px;
  width: 360px;
  font-size: 14px;
  letter-spacing: 1px;
  box-shadow:  inset 12px 4px 0 black;
}

label {
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: 4rem;
  display: block;
}

label.string.optional {
  margin-left: 8px;
}

input#contact_last_name.string.optional {
  margin-left: 8px;
}

span.error {
  margin-top: 8px;
  margin-left: 4rem;
  display: block;
  color: red;
  font-weight: 600;
}
